include stanza/coptic_data/depedit/postprocess_parser.ini
include stanza/coptic_data/depedit/__init__.py
include stanza/coptic_data/depedit/add_ud_and_flat_morph.ini
include stanza/coptic_data/scriptorium/confmat.py
include stanza/coptic_data/scriptorium/__init__.py
include stanza/coptic_data/scriptorium/cs-ud-train.conllu
include stanza/coptic_data/scriptorium/cs-ud-test_mini.conllu
include stanza/coptic_data/scriptorium/cs-ud-train-and-dev.conllu
include stanza/coptic_data/scriptorium/cs-ud-train-and-dev-preprocessed.conllu
include stanza/coptic_data/scriptorium/cs-ud-test.conllu
include stanza/coptic_data/scriptorium/cs-ud-dev.conllu
include stanza/coptic_data/scriptorium/cs-ud-minitest.conllu
include stanza/coptic_data/scriptorium/cs-ud-minitest-preprocessed.conllu
include stanza/coptic_data/scriptorium/cs-ud-test-preprocessed.conllu
include stanza/coptic_data/scriptorium/cs-ud-dev-preprocessed.conllu
include stanza/coptic_data/scriptorium/cs-ud-train-preprocessed.conllu
include stanza/coptic_data/scriptorium/find_pairs.py
include stanza/coptic_data/wordvec/__init__.py
include stanza/coptic_data/wordvec/word2vec/Coptic/coptic_50d.vec.xz
include stanza/coptic_data/wordvec/word2vec/Coptic/__init__.py
include stanza/coptic_data/wordvec/word2vec/Coptic/cop.vectors
include stanza/coptic_data/wordvec/word2vec/__init__.py
include stanza/coptic_data/__init__.py
include stanza/coptic_data/lang_lexicon.tab
include stanza/coptic_data/entities.tab
